* {
    box-sizing: border-box;
}
h1{
  font-family: 'Aladin', cursive;
}
p,h2{
  font-family: 'Dosis', sans-serif;

}
.center h2{
    text-align: center;
}
.center li{
    text-align: center;
}
li {
    list-style: none;
}
/* -------- */
.header-bg{
    background-image: radial-gradient(circle, #3241a6 0, #202a6b 120%);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.jumbotron-fluid{
    /* background-color: #f76c5e; */

    text-align: center;
}
.jumbotron-fluid h1{
    color: white;
    font-size: 8rem;
}
.jumbotron-fluid p{
    color: white;

}
#footer{
    background-color: blue;
    text-align: center;
    color: red;
    bottom: 0px;
}

.list-grid ol{
    column-count: 3;
}

@media (max-width: 768px) {
    .jumbotron-fluid h1 {
        font-size: 4rem;
    }
}
