/* Base rules */
:root * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


h2 {
    font-size: 2.125em;

}

li {
    list-style-type: none;
}

/* Utility classes */
.u-text-center {
    text-align: center;
}

.u-text-white {
    color: white;
}


.u-bg-brand {
    background-color: #489df2;

/* -------- */
.header-bg{
    /* background: #56CCF2;  fallback for old browsers */
background: -webkit-linear-gradient(45deg, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(45deg, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/* Section */
.section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    height: 100vh;
    padding-left: 1em;
    padding-right: 1em;
}
.section-content {
    width: 100%;
}

/* Jumbotron */
.jumbotron-fluid h1 {
    margin-bottom: 0;
    font-size: 11vmin;
}

.lead {
    font-size: 1.25em;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    padding: .4375em .875em;
    border: 1px solid transparent;
    border-radius: .25em;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-image: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    color: white;

    background-color: rgba(0, 0, 0, .2);
=======
    font-size: 4rem;

}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgba(0, 0, 0, .4);
}

.btn-lg {
    font-size: 1.125em;
}

/* List grid */
.list-grid ol {
    padding: 0;
}

.list-grid li {
    line-height: 1.5;
}

.list-grid a {
    text-decoration: none;
    color: #337ab7;
}

.list-grid a:hover,
.list-grid a:focus {
    text-decoration: underline;
    color: #23527c;
}

@media only screen and (min-width: 400px) {
  .list-grid ol {
    column-count: 3;
  }
}
